
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>@ViewBag.Greeting</div>


<form action="/dynamic/goto" method="get">
    <input type="text" name="gotoUrl" />
    <input type="submit" name="Goto" />
</form>



